* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: #334756;

}

.body--noscroll {
  overflow: hidden;
}















.logo {
  padding-top: 40px;
}


.nav-trigger {
  position: absolute;
  z-index: 4;
  top: 40px;
  right: 160px;
  height: 44px;
  width: 44px;

  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
}

.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
  position: absolute;
  height: 4px;
  width: 36px;
  background: #999999;
}

.nav-trigger span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background .3s;
}

.nav-trigger span::before,
.nav-trigger span::after {
  content: '';
  top: 0;
  left: 0;
  transition: background .3s, transform .3s;
}

.nav-trigger span::before {
  transform: translateY(-12px);
}

.nav-trigger span::after {
  transform: translateY(12px);
}

.nav-trigger:hover span,
.nav-trigger:hover span::before,
.nav-trigger:hover span::after {
  background: white;
}

.nav-open .nav-trigger span {
  background: transparent;
}

.nav-open .nav-trigger span::before,
.nav-open .nav-trigger span::after {
  background: #1F2B3D;
}

.nav-open .nav-trigger span::before {
  transform: rotate(-45deg);
}

.nav-open .nav-trigger span::after {
  transform: rotate(45deg);
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1C1D21;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav-open .overlay {
  opacity: .6;
  visibility: visible;
}

.nav-container {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 90%;
  max-width: 460px;
  padding: 2em 3.5em;
  background: #F3F3F3;
  overflow: auto;
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform .5s cubic-bezier(.07, .23, .34, 1);
}

.nav-open .nav-container {
  transform: translateX(0);
}

.nav-container h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 1.5em 0;
}


nav {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
}


.nav-link {
  display: block;
  padding: .4em 0;
  font-size: 40px;
  font-weight: bold;
  font-family: serif;
  text-decoration: none;
  color: #1F2B3D;
  transform: translateZ(0);
}

.nav-open nav-link {
  animation: slide-in .4s .2s backwards;
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




*:not(.slick-track):not(.slick-list) {
  transition: 0.4s;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}


.hero-text {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
}

.hero-text h1 {
  font-size: 80px;
  color: #FACC48;
}

.hero-text p {
  font-size: 20px;
  color: #ccc;
  margin-top: 30px;

}


/* start: agents styles */
#agents {
  padding: 0 0 6rem;
  border-bottom: 1px solid #ccc;
  padding-top: 100px;
}

#agents p.large-paragraph {
  width: 50%;
  margin-bottom: 4rem;
}

#agents .flex {
  flex-wrap: wrap;
  padding: 0;
}

#agents .card {
  width: 32%;
  background: #f0f0f0;
  margin-bottom: 2rem;
}

#agents .card img {
  width: 100%;
  padding-bottom: 30px;
}

#agents .card h3 {
  color: #1F2B3D;
  margin-bottom: 20px;
  font-size: 160%;
  font-weight: bold;
}

#agents .card h3,
#agents .card p {
  padding-left: 1rem;
}






.card p {
  color: rgb(43, 39, 39);
}

/* end: agents styles */


@media (max-width: 500px) {
  #agents {
    margin: 4rem 0 3rem;
    padding: 0 0 3rem;
  }

  #agents .card {
    width: 100%;
  }

  #agents p.large-paragraph {
    width: 100%;
  }
}




@media (max-width: 767px) {
  #agents .card {
    width: 49%;
  }
}




/* CSS */
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 30px;
  margin-top: 50px;
  align-items: center;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}




.cta-sec {
  background-color: #1F2B3D;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;

}



.cta-p {
  margin-top: 20px;
  color: #AAAAAA;
}


.cta-head {
  color: #FACC48;
}






























.footer-basic {
  padding: 40px 0;
  background-color: white;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 12 px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}


.social {
  font-size: 26PX;
  color: #1f2b3d;
}